table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
}
form {
    text-align: center;
    margin: 20px;
}
input {
    margin: 5px;
    padding: 8px;
}
h1{
    text-align: center;
}